{
  "openapi": "3.1.0",
  "info": {
    "title": "Bestflow API",
    "description": "Bestflow is a cryptocurrency exchange aggregator that provides cross-chain swap capabilities without any additional fees. It aggregates multiple exchanges to offer users the best rates and seamless cryptocurrency swaps across different networks.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bestflow.xyz"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "description": "Health check endpoint that returns the API status",
        "responses": {
          "200": {
            "description": "API is running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/coins": {
      "get": {
        "description": "Returns the list of supported cryptocurrencies and their networks",
        "responses": {
          "200": {
            "description": "List of supported tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Token"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchanges": {
      "get": {
        "description": "Returns the list of supported exchanges",
        "responses": {
          "200": {
            "description": "List of supported exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Exchange"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rate": {
      "post": {
        "description": "Returns the estimated receive amount for a swap",
        "requestBody": {
          "description": "Rate estimation request details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Rate estimation from supported exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/swap": {
      "post": {
        "description": "Creates a new cryptocurrency swap on the specified exchange",
        "requestBody": {
          "description": "Swap creation details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Swap creation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{swapId}": {
      "get": {
        "description": "Returns the status and details of a specific swap by ID",
        "parameters": [
          {
            "name": "swapId",
            "in": "path",
            "description": "Unique identifier for the swap",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Swap status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid swap ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Token": {
        "type": "object",
        "required": [
          "currency",
          "name",
          "logo",
          "networks"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency ticker symbol",
            "example": "ETH"
          },
          "name": {
            "type": "string",
            "description": "The full name of the cryptocurrency",
            "example": "Ethereum"
          },
          "logo": {
            "type": "string",
            "description": "URL to the currency's logo image",
            "example": "https://cdn.jsdelivr.net/gh/bestflow-exchange/assets@main/coins/ethereum.svg"
          },
          "networks": {
            "type": "array",
            "description": "List of supported networks for this currency",
            "items": {
              "$ref": "#/components/schemas/TokenNetwork"
            }
          }
        }
      },
      "Exchange": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "fullLogoLight",
          "fullLogoDark",
          "website",
          "termsOfUse",
          "kyc"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Exchange identifier",
            "example": "swapter"
          },
          "name": {
            "type": "string",
            "description": "Display name of the exchange",
            "example": "Swapter"
          },
          "description": {
            "type": "string",
            "description": "Brief description of the exchange",
            "example": "Swapter - service that focuses on the cryptocurrency industry and its development."
          },
          "icon": {
            "type": "string",
            "description": "URL to the exchange icon image",
            "example": "https://cdn.jsdelivr.net/gh/bestflow-exchange/assets@main/exchanges/swapter.svg"
          },
          "fullLogoLight": {
            "type": "string",
            "description": "URL to the full logo image for light theme",
            "example": "https://cdn.jsdelivr.net/gh/bestflow-exchange/assets@main/exchanges/swapter-light.svg"
          },
          "fullLogoDark": {
            "type": "string",
            "description": "URL to the full logo image for dark theme",
            "example": "https://cdn.jsdelivr.net/gh/bestflow-exchange/assets@main/exchanges/swapter-dark.svg"
          },
          "website": {
            "type": "string",
            "description": "Exchange website URL",
            "example": "https://swapter.io"
          },
          "termsOfUse": {
            "type": "string",
            "description": "Exchange terms of use URL. User must accept this before swapping.",
            "example": "https://swapter.io/terms-of-use"
          },
          "kyc": {
            "type": "string",
            "enum": [
              "none",
              "low",
              "medium",
              "high"
            ],
            "description": "Frequency of KYC requirements",
            "example": "low"
          }
        }
      },
      "TokenNetwork": {
        "type": "object",
        "required": [
          "network",
          "contract",
          "memo"
        ],
        "properties": {
          "network": {
            "type": "string",
            "description": "The network identifier",
            "example": "ETH"
          },
          "contract": {
            "type": [
              "string",
              "null"
            ],
            "description": "Smart contract address for tokens, null for native coins",
            "example": null
          },
          "memo": {
            "type": "boolean",
            "description": "Whether this network requires a memo/tag for deposits",
            "example": false
          },
          "explorer": {
            "type": "string",
            "description": "Base URL of the blockchain explorer",
            "example": "https://ethplorer.io"
          },
          "explorerHash": {
            "type": "string",
            "description": "URL template for viewing transactions ({{txid}} placeholder)",
            "example": "https://ethplorer.io/tx/{{txid}}"
          },
          "explorerAddress": {
            "type": "string",
            "description": "URL template for viewing addresses ({{addr}} placeholder)",
            "example": "https://ethplorer.io/address/{{addr}}"
          },
          "explorerContract": {
            "type": "string",
            "description": "URL template for viewing smart contracts ({{contr}} placeholder)",
            "example": "https://ethplorer.io/token/{{contr}}"
          }
        }
      },
      "RateRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "fromNetwork",
          "toNetwork",
          "amount"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Source currency ticker",
            "example": "BTC"
          },
          "to": {
            "type": "string",
            "description": "Destination currency ticker",
            "example": "ETH"
          },
          "fromNetwork": {
            "type": "string",
            "description": "Source network identifier",
            "example": "BTC"
          },
          "toNetwork": {
            "type": "string",
            "description": "Destination network identifier",
            "example": "ETH"
          },
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Amount to swap",
            "example": 0.5
          }
        }
      },
      "RateResponse": {
        "type": "object",
        "required": [
          "from",
          "to",
          "fromNetwork",
          "toNetwork",
          "amount",
          "rates"
        ],
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fromNetwork": {
            "type": "string"
          },
          "toNetwork": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "rates": {
            "type": "array",
            "description": "Rate estimates per exchange, sorted descending by estReceive (best rate first). Exchanges with unavailable rates appear last.",
            "items": {
              "$ref": "#/components/schemas/ExchangeRate"
            }
          }
        }
      },
      "ExchangeRate": {
        "type": "object",
        "required": [
          "exchange",
          "estReceive",
          "eta",
          "minAmount",
          "maxAmount"
        ],
        "properties": {
          "exchange": {
            "type": "string",
            "description": "Exchange identifier",
            "example": "swapter"
          },
          "estReceive": {
            "type": [
              "number",
              "null"
            ],
            "description": "Estimated amount to receive. Null means rate is unavailable."
          },
          "eta": {
            "type": [
              "string",
              "null"
            ],
            "description": "Estimated processing time. Null means no info."
          },
          "minAmount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Minimum swap amount for this pair. Null means unavailable or no minimum."
          },
          "maxAmount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Maximum swap amount for this pair. Null means unavailable or no maximum."
          }
        }
      },
      "SwapRequest": {
        "type": "object",
        "required": [
          "exchange",
          "from",
          "to",
          "fromNetwork",
          "toNetwork",
          "toAddress",
          "amount"
        ],
        "properties": {
          "exchange": {
            "type": "string",
            "enum": [
              "swapter",
              "thechange",
              "etzswap"
            ],
            "description": "Exchange to use for the swap"
          },
          "from": {
            "type": "string",
            "description": "Source currency ticker"
          },
          "to": {
            "type": "string",
            "description": "Destination currency ticker"
          },
          "fromNetwork": {
            "type": "string",
            "description": "Source network identifier"
          },
          "toNetwork": {
            "type": "string",
            "description": "Destination network identifier"
          },
          "toAddress": {
            "type": "string",
            "description": "Destination wallet address"
          },
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Amount to swap"
          },
          "memo": {
            "type": "string",
            "description": "Optional memo/tag for destination address"
          }
        }
      },
      "SwapResponse": {
        "type": "object",
        "required": [
          "id",
          "from",
          "to",
          "fromNetwork",
          "toNetwork",
          "sendAmount",
          "sendAddress",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the swap"
          },
          "from": {
            "type": "string",
            "description": "Source currency ticker"
          },
          "to": {
            "type": "string",
            "description": "Destination currency ticker"
          },
          "fromNetwork": {
            "type": "string",
            "description": "Source network identifier"
          },
          "toNetwork": {
            "type": "string",
            "description": "Destination network identifier"
          },
          "sendAmount": {
            "type": "number",
            "description": "Amount to send to complete the swap"
          },
          "sendAddress": {
            "type": "string",
            "description": "Deposit address to send funds to"
          },
          "sendMemo": {
            "type": "string",
            "description": "Memo/tag for the deposit (if required)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Swap creation timestamp in ISO 8601 format"
          }
        }
      },
      "SwapStatusResponse": {
        "type": "object",
        "required": [
          "id",
          "exchange",
          "status",
          "from",
          "to",
          "fromNetwork",
          "toNetwork",
          "sendAmount",
          "estReceive",
          "sendAddress",
          "receiveAddress",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the swap"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange identifier",
            "enum": [
              "swapter",
              "thechange",
              "etzswap"
            ]
          },
          "status": {
            "type": "string",
            "description": "Current swap status"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "fromNetwork": {
            "type": "string"
          },
          "toNetwork": {
            "type": "string"
          },
          "sendAmount": {
            "type": "number",
            "description": "Expected deposit amount"
          },
          "estReceive": {
            "type": "number",
            "description": "Estimated amount to be received"
          },
          "sendAddress": {
            "type": "string",
            "description": "Deposit address"
          },
          "sendMemo": {
            "type": "string",
            "description": "Deposit memo/tag"
          },
          "receiveAddress": {
            "type": "string",
            "description": "Destination address"
          },
          "receiveMemo": {
            "type": "string",
            "description": "Destination memo/tag"
          },
          "hashIn": {
            "type": [
              "string",
              "null"
            ],
            "description": "Inbound transaction hash"
          },
          "hashOut": {
            "type": [
              "string",
              "null"
            ],
            "description": "Outbound transaction hash"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Swap creation timestamp in ISO 8601 format"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code",
            "enum": [
              "VALIDATION_ERROR",
              "INVALID_FORMAT",
              "UNKNOWN_EXCHANGE",
              "SWAP_ERROR",
              "SWAP_NOT_FOUND",
              "UNAUTHORIZED",
              "RATE_LIMITED"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Optional Bearer authentication using an API key provided as a Bearer token. Required for unlimited requests and revenue sharing."
      }
    }
  }
}
